<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Al. I am a web, app, and software developer.</h1>
            <hr>
            <p>I can help find a software solution for your business.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

