<body>

<div class="headingbox">
	<h1 class="headingbig">AL MUSAVI</h1>
	<h1 class="heading">Web Developer</h1>
</div>
<br>
<img class="centerdiv" src="/images/raft_screenshot.jpg">
<br>
<div class="project">
<h2 class="textheading">Raft | DBC Final Project</h2>
<p class="centertext">
Helped lead a 7 day group project with Scrum
Project Management and an Agile workflow. <br>

Led Team Standups, Designed Wireframing,
Developed Story Cards, Led Sprint Planning <br>

Full-stack Developer on Social Media Responsive
Web Application. <br>

Led team to a test driven development (TDD)
process using Rspec and Travis <br>

Used Rails4, Pair Programming, Google Maps, API, REST, UI/UX, Design, <br>
Photoshop, Illustrator, HTML5, CSS3, Action Mailer, Git Workflow, and Heroku. <br>
<!-- <a href="https://www.raft2k17.herokuapp.com">https://www.raft2k17.herokuapp.com</a> -->

<a href="https://github.com/almusavi/raft">https://github.com/almusavi/raft</a>
</p>
</div>
<br>

<div class="twopics">
<div>
	<img class="centerdiv" src="/images/referral_gps_screen_shot1.jpg">
</div>
<div>
	<img class="centerdiv" src="/images/referral_gps_screen_shot2.jpg">
</div>
<br>
</div>
<br>
<div class="project">
<h2 class="textheading">ReferralGPS | Client Project
</h2>
<p class="centertext">
<br>
Full-Stack Developer for Healthcare Industry Application
<br>
Used Rails4, CRUD, Google Maps API, REST, Javascsript, Git Workflow, JQuery, Ruby, HTML, CSS, Photoshop, Illustrator, and Heroku
<br>
<a href="https://github.com/almusavi/referralgps">https://github.com/almusavi/referralgps</a>
</p>
</div>
<br>

<img class="centerdiv" src="/images/poppy_balloons_screenshot.jpg">
<br>
<div class="project">
<h2 class="textheading">Poppy Balloons | IOS App</h2>
<p class="centertext">Swift Developer, UI/UX, on IOS Mobile App
<br>
Used Photoshop and Illustrator to Create Graphics and Layouts
<br>
<a href="https://itunes.apple.com/us/app/poppy-balloons/id842318142?ls=1&mt=8">https://itunes.apple.com/us/app/poppy-balloons/id842318142?ls=1&mt=8</a>
<br>
<a href="https://github.com/almusavi/PoppyBalloons">https://github.com/almusavi/PoppyBalloons</a>
<br>

</p>
</div>
<br>

<img class="centerdiv" src="/images/hip_hoppy_bird_screenshots.jpg">
<br>
<div class="project">
<h2 class="textheading">Hip Hoppy Bird | IOS App</h2>
<p class="centertext">Swift Developer, UI/UX, on IOS Mobile App
<br>
Used Adobe Creative Suites to Create Elements
<br>
<a href="https://itunes.apple.com/us/app/hip-hoppy-bird/id850721934?mt=8">https://itunes.apple.com/us/app/hip-hoppy-bird/id850721934?mt=8</a>
<br>
</p>

</div>
<br>


</body>
